@media (--small) {
    /* normal col */
    /* {s,m,l}w = {small, medium, large} width */
    @for 2 from 1 to 12 {
        .row__col_sw_2 {
            width: calc(99.9% * 1/6 - (10px - 10px * 1/6));
        }
        .row__col_sw_2:nth-child(1n) {
            float: left;
            margin-right: 10px;
            clear: none;
        }
        .row__col_sw_2:last-child {
            margin-right: 0;
        }
        .row__col_sw_2:nth-child(6n) {
            margin-right: 0;
            float: right;
        }
        .row__col_sw_2:nth-child(6n + 1) {
            clear: both;
        }
    }
    /* offset col */
    /* {s,m,l}o = {small, medium, large} offset */
    @for 2 from 1 to 11 {
        .row__col_so_2 {
            position: relative;
            left: calc(99.9% * 2/12 - (10px - 10px * 2/12) + 10px);
        }
    }
    /* auto size col */
    .row__col_s {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
        margin-right: 10px;
    }
    .row__col_s:last-child {
        margin-right: 0;
    }
}
@media (--small-only) {
    .row__col_sw_0 {
        display: none;
    }
    .row__col_so_0 {
        margin-left: 0;
    }
    /* {s,m,l}of = {small, medium, large} order first */
    .row__col_sof {
        order: -1;
    }
    /* {s,m,l}ol = {small, medium, large} order last */
    .row__col_sol {
        order: 1;
    }
}
@media (--medium) {
    /* normal col */
    /* {s,m,l}w = {small, medium, large} width */
    @for 2 from 1 to 12 {
        .row__col_mw_2 {
            width: calc(99.9% * 1/6 - (10px - 10px * 1/6));
        }
        .row__col_mw_2:nth-child(1n) {
            float: left;
            margin-right: 10px;
            clear: none;
        }
        .row__col_mw_2:last-child {
            margin-right: 0;
        }
        .row__col_mw_2:nth-child(6n) {
            margin-right: 0;
            float: right;
        }
        .row__col_mw_2:nth-child(6n + 1) {
            clear: both;
        }
    }
    /* offset col */
    /* {s,m,l}o = {small, medium, large} offset */
    @for 2 from 1 to 11 {
        .row__col_mo_2 {
            position: relative;
            left: calc(99.9% * 2/12 - (10px - 10px * 2/12) + 10px);
        }
    }
    /* auto size col */
    .row__col_m {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
        margin-right: 10px;
    }
    .row__col_m:last-child {
        margin-right: 0;
    }
}
@media (--medium-only) {
    .row__col_mw_0 {
        display: none;
    }
    .row__col_mo_0 {
        margin-left: 0;
    }
    /* {s,m,l}of = {small, medium, large} order first */
    .row__col_mof {
        order: -1;
    }
    /* {s,m,l}ol = {small, medium, large} order last */
    .row__col_mol {
        order: 1;
    }
}
@media (--large) {
    /* normal col */
    /* {s,m,l}w = {small, medium, large} width */
    @for 2 from 1 to 12 {
        .row__col_lw_2 {
            width: calc(99.9% * 1/6 - (10px - 10px * 1/6));
        }
        .row__col_lw_2:nth-child(1n) {
            float: left;
            margin-right: 10px;
            clear: none;
        }
        .row__col_lw_2:last-child {
            margin-right: 0;
        }
        .row__col_lw_2:nth-child(6n) {
            margin-right: 0;
            float: right;
        }
        .row__col_lw_2:nth-child(6n + 1) {
            clear: both;
        }
    }
    /* offset col */
    /* {s,m,l}o = {small, medium, large} offset */
    @for 2 from 1 to 11 {
        .row__col_lo_2 {
            position: relative;
            left: calc(99.9% * 2/12 - (10px - 10px * 2/12) + 10px);
        }
    }
    /* auto size col */
    .row__col_l {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
        margin-right: 10px;
    }
    .row__col_l:last-child {
        margin-right: 0;
    }
}
@media (--large-only) {
    .row__col_lw_0 {
        display: none;
    }
    .row__col_lo_0 {
        margin-left: 0;
    }
    /* {s,m,l}of = {small, medium, large} order first */
    .row__col_lof {
        order: -1;
    }
    /* {s,m,l}ol = {small, medium, large} order last */
    .row__col_lol {
        order: 1;
    }
}
@media (--xlarge) {
    /* normal col */
    /* {s,m,l}w = {small, medium, large} width */
    @for 2 from 1 to 12 {
        .row__col_xlw_2 {
            width: calc(99.9% * 1/6 - (10px - 10px * 1/6));
        }
        .row__col_xlw_2:nth-child(1n) {
            float: left;
            margin-right: 10px;
            clear: none;
        }
        .row__col_xlw_2:last-child {
            margin-right: 0;
        }
        .row__col_xlw_2:nth-child(6n) {
            margin-right: 0;
            float: right;
        }
        .row__col_xlw_2:nth-child(6n + 1) {
            clear: both;
        }
    }
    /* offset col */
    /* {s,m,l}o = {small, medium, large} offset */
    @for 2 from 1 to 11 {
        .row__col_xlo_2 {
            position: relative;
            left: calc(99.9% * 2/12 - (10px - 10px * 2/12) + 10px);
        }
    }
    /* auto size col */
    .row__col_xl {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
        margin-right: 10px;
    }
    .row__col_xl:last-child {
        margin-right: 0;
    }
}
@media (--xlarge-only) {
    .row__col_xlw_0 {
        display: none;
    }
    .row__col_xlo_0 {
        margin-left: 0;
    }
    /* {s,m,l}of = {small, medium, large} order first */
    .row__col_xlof {
        order: -1;
    }
    /* {s,m,l}ol = {small, medium, large} order last */
    .row__col_xlol {
        order: 1;
    }
}
@media (--xxlarge) {
    /* normal col */
    /* {s,m,l}w = {small, medium, large} width */
    @for 2 from 1 to 12 {
        .row__col_xxlw_2 {
            width: calc(99.9% * 1/6 - (10px - 10px * 1/6));
        }
        .row__col_xxlw_2:nth-child(1n) {
            float: left;
            margin-right: 10px;
            clear: none;
        }
        .row__col_xxlw_2:last-child {
            margin-right: 0;
        }
        .row__col_xxlw_2:nth-child(6n) {
            margin-right: 0;
            float: right;
        }
        .row__col_xxlw_2:nth-child(6n + 1) {
            clear: both;
        }
    }
    /* offset col */
    /* {s,m,l}o = {small, medium, large} offset */
    @for 2 from 1 to 11 {
        .row__col_xxlo_2 {
            position: relative;
            left: calc(99.9% * 2/12 - (10px - 10px * 2/12) + 10px);
        }
    }
    /* auto size col */
    .row__col_xxl {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
        margin-right: 10px;
    }
    .row__col_xxl:last-child {
        margin-right: 0;
    }
}
@media (--xxlarge-only) {
    .row__col_xxlw_0 {
        display: none;
    }
    .row__col_xxlo_0 {
        margin-left: 0;
    }
    /* {s,m,l}of = {small, medium, large} order first */
    .row__col_xxlof {
        order: -1;
    }
    /* {s,m,l}ol = {small, medium, large} order last */
    .row__col_xxlol {
        order: 1;
    }
}
.header {
    background-color: red;
}
.row {
    display: flex;
    flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.row_order_reverse {
    flex-direction: row-reverse;
    flex-wrap: row-reverse;
}
@media (--small) {
    /* {s,m,l}al = {small, medium, large} align left */
    .row_sal {
        justify-content: flex-start;
        text-align: start;
    }
    /* {s,m,l}ac = {small, medium, large} align center */
    .row_sac {
        justify-content: center;
        text-align: center;
    }
    /* {s,m,l}ar = {small, medium, large} align right */
    .row_sar {
        justify-content: flex-end;
        text-align: end;
    }
    /* {s,m,l}vat = {small, medium, large} vertical align top */
    .row_svat {
        align-items: flex-start;
    }
    /* {s,m,l}vam = {small, medium, large} vertical align medium */
    .row_svam {
        align-items: center;
    }
    /* {s,m,l}vab = {small, medium, large} vertical align bottom */
    .row_svab {
        align-items: flex-end;
    }
}
@media (--medium) {
    /* {s,m,l}al = {small, medium, large} align left */
    .row_mal {
        justify-content: flex-start;
        text-align: start;
    }
    /* {s,m,l}ac = {small, medium, large} align center */
    .row_mac {
        justify-content: center;
        text-align: center;
    }
    /* {s,m,l}ar = {small, medium, large} align right */
    .row_mar {
        justify-content: flex-end;
        text-align: end;
    }
    /* {s,m,l}vat = {small, medium, large} vertical align top */
    .row_mvat {
        align-items: flex-start;
    }
    /* {s,m,l}vam = {small, medium, large} vertical align medium */
    .row_mvam {
        align-items: center;
    }
    /* {s,m,l}vab = {small, medium, large} vertical align bottom */
    .row_mvab {
        align-items: flex-end;
    }
}
@media (--large) {
    /* {s,m,l}al = {small, medium, large} align left */
    .row_lal {
        justify-content: flex-start;
        text-align: start;
    }
    /* {s,m,l}ac = {small, medium, large} align center */
    .row_lac {
        justify-content: center;
        text-align: center;
    }
    /* {s,m,l}ar = {small, medium, large} align right */
    .row_lar {
        justify-content: flex-end;
        text-align: end;
    }
    /* {s,m,l}vat = {small, medium, large} vertical align top */
    .row_lvat {
        align-items: flex-start;
    }
    /* {s,m,l}vam = {small, medium, large} vertical align medium */
    .row_lvam {
        align-items: center;
    }
    /* {s,m,l}vab = {small, medium, large} vertical align bottom */
    .row_lvab {
        align-items: flex-end;
    }
}
@media (--xlarge) {
    /* {s,m,l}al = {small, medium, large} align left */
    .row_xlal {
        justify-content: flex-start;
        text-align: start;
    }
    /* {s,m,l}ac = {small, medium, large} align center */
    .row_xlac {
        justify-content: center;
        text-align: center;
    }
    /* {s,m,l}ar = {small, medium, large} align right */
    .row_xlar {
        justify-content: flex-end;
        text-align: end;
    }
    /* {s,m,l}vat = {small, medium, large} vertical align top */
    .row_xlvat {
        align-items: flex-start;
    }
    /* {s,m,l}vam = {small, medium, large} vertical align medium */
    .row_xlvam {
        align-items: center;
    }
    /* {s,m,l}vab = {small, medium, large} vertical align bottom */
    .row_xlvab {
        align-items: flex-end;
    }
}
@media (--xxlarge) {
    /* {s,m,l}al = {small, medium, large} align left */
    .row_xxlal {
        justify-content: flex-start;
        text-align: start;
    }
    /* {s,m,l}ac = {small, medium, large} align center */
    .row_xxlac {
        justify-content: center;
        text-align: center;
    }
    /* {s,m,l}ar = {small, medium, large} align right */
    .row_xxlar {
        justify-content: flex-end;
        text-align: end;
    }
    /* {s,m,l}vat = {small, medium, large} vertical align top */
    .row_xxlvat {
        align-items: flex-start;
    }
    /* {s,m,l}vam = {small, medium, large} vertical align medium */
    .row_xxlvam {
        align-items: center;
    }
    /* {s,m,l}vab = {small, medium, large} vertical align bottom */
    .row_xxlvab {
        align-items: flex-end;
    }
}